<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Register HeartMeet</title>
</head>

<body>

    <!--===== REGISTER =====-->
    <div class="form-box">
        <form class="form" action="/register" method="POST">
            <span class="title">Inscrivez-vous</span>
            <div class="form-container">
                <input type="text" name="name" class="input" placeholder="Nom" required>
                <input type="text" name="prenom" class="input" placeholder="Prenom" required>
                <input type="email" name="email" class="input" placeholder="Email" required>
                <input type="password" name="password" class="input" placeholder="Mot de passe" required>
            </div>
            <button type="submit">S'inscrire</button>
        </form>
        <div class="form-section">
            <p>Vous avez déjà un compte ? <a href="{{ url_for('showlogin') }}">Ici</a> </p>
        </div>
    </div>
    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="../static/js/main.js"></script>
</body>

</html>
